In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
df19 = pd.read_csv('players_19.csv')
df20 = pd.read_csv('players_20.csv')
df21 = pd.read_csv('players_21.csv')

In [16]:
playerDF = pd.DataFrame([])

In [17]:
df = pd.read_csv('player_final.csv')

In [18]:
df.player_positions = df.player_positions.apply(lambda x:x.split(',')[0])

In [19]:
df.player_positions[0].split(',')[0]

'RW'

In [20]:
df.player_positions[1].split(',')[0]

'ST'

In [21]:
playerDF['sofifa_id'] = df['sofifa_id']
playerDF['name'] = df['short_name']
playerDF['overall'] = df['overall']
playerDF['potential'] = df['potential']
playerDF['value_eur'] = df['value_eur']
playerDF['wage_eur'] = df['wage_eur']
playerDF['player_url'] = df['player_url']
playerDF['player_face_url'] = df['player_face_url']
playerDF['age'] = df['age']
playerDF['height_cm'] = df['height_cm']
playerDF['weight_kg'] = df['weight_kg']
playerDF['club'] = df['club_name']
playerDF['league'] = df['league_name']
playerDF['position'] = df['player_positions']
playerDF['attacking'] = df.loc[:,df.columns.str.contains('attacking')].mean(axis=1)
playerDF['skill'] = df.loc[:,df.columns.str.contains('skill')].mean(axis=1)
playerDF['movement'] = df.loc[:,df.columns.str.contains('movement')].mean(axis=1)
playerDF['power'] = df.loc[:,df.columns.str.contains('power')].mean(axis=1)
playerDF['mentality'] = df.loc[:,df.columns.str.contains('mentality')].mean(axis=1)
playerDF['defending'] = df.loc[:,df.columns.str.contains('defending')].mean(axis=1)
playerDF['goalkeeping'] = df.loc[:,df.columns.str.contains('goalkeeping')].iloc[:,:-1].mean(axis=1)

In [22]:
playerDF.columns

Index(['sofifa_id', 'name', 'overall', 'potential', 'value_eur', 'wage_eur',
       'player_url', 'player_face_url', 'age', 'height_cm', 'weight_kg',
       'club', 'league', 'position', 'attacking', 'skill', 'movement', 'power',
       'mentality', 'defending', 'goalkeeping'],
      dtype='object')

In [24]:
playerDF[['name','age','overall','potential','value_eur','wage_eur','position','attacking','skill','movement','power','mentality','defending','goalkeeping']]

,name,age,overall,potential,value_eur,wage_eur,position,attacking,skill,movement,power,mentality,defending,goalkeeping
0,L. Messi,34,93,93,78000000.0,320000.0,RW,85.8,79.000000,90.2,77.8,73.833333,28.25,10.8
1,R. Lewandowski,32,92,92,119500000.0,270000.0,ST,86.0,68.500000,81.6,84.8,80.666667,35.00,10.2
2,Cristiano Ronaldo,36,91,91,45000000.0,270000.0,ST,87.6,70.500000,85.4,87.2,74.333333,28.50,11.6
3,Neymar Jr,29,91,91,129000000.0,270000.0,LW,80.6,75.166667,90.2,71.8,77.000000,33.25,11.8
4,K. De Bruyne,30,91,91,125500000.0,350000.0,CM,81.4,74.000000,80.0,81.6,82.666667,62.50,11.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15144,D. Da Silva,21,47,55,90000.0,500.0,GK,12.4,11.666667,34.0,35.4,17.166667,10.00,46.2
15145,H. Singh,18,47,64,120000.0,500.0,CM,39.2,33.500000,62.4,48.2,47.166667,41.50,12.2
15146,M. O'Brien,18,47,61,110000.0,500.0,RM,41.0,34.500000,54.0,41.4,40.666667,25.25,10.8
15147,C. Porter,19,47,59,110000.0,500.0,CM,43.2,36.500000,60.0,48.8,46.500000,42.25,9.4
15148,N. Logue,21,47,55,100000.0,500.0,CM,40.0,36.833333,56.6,49.4,42.500000,42.75,7.4

In [18]:
playerDF.dropna(inplace = True)

In [19]:
playerDF.to_csv('player_real_final.csv',index=False)

In [20]:
df.loc[:,df.columns.str.contains('attacking')].mean(axis=1)

0        85.8
1        86.0
2        87.6
3        80.6
4        81.4
         ...
15144    12.4
15145    39.2
15146    41.0
15147    43.2
15148    40.0
Length: 15149, dtype: float64

In [21]:
df.loc[:,df.columns.str.contains('skill')]

,skill_moves,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control
0,4,96,93,94,91,96
1,4,85,79,85,70,88
2,5,88,81,84,77,88
3,5,95,88,87,81,95
4,4,88,85,83,93,91
...,...,...,...,...,...,...
15144,1,13,10,10,24,12
15145,2,44,34,31,46,44
15146,2,45,36,35,41,48
15147,2,41,53,31,50,42
15148,2,47,37,37,49,49

In [22]:
df.loc[:,df.columns.str.contains('movement')]

,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance
0,91,80,91,94,95
1,77,79,77,93,82
2,85,88,86,94,74
3,93,89,96,89,84
4,76,76,79,91,78
...,...,...,...,...,...
15144,30,21,31,47,41
15145,62,63,69,48,70
15146,61,59,61,31,58
15147,60,58,64,49,69
15148,60,60,58,46,59

In [23]:
df.loc[:,df.columns.str.contains('power')]

,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots
0,86,68,72,69,94
1,90,85,76,86,87
2,94,95,77,77,93
3,80,64,81,53,81
4,91,63,89,74,91
...,...,...,...,...,...
15144,34,56,27,53,7
15145,44,60,61,35,41
15146,53,38,33,44,39
15147,49,47,63,47,38
15148,50,57,56,50,34

In [24]:
df.loc[:,df.columns.str.contains('mentality')]

,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure
0,44,40,93,95,75,96
1,81,49,95,81,90,88
2,63,29,95,76,88,95
3,63,37,86,90,93,93
4,76,66,88,94,83,89
...,...,...,...,...,...,...
15144,21,10,5,27,18,22
15145,57,45,49,47,41,44
15146,34,23,47,46,46,48
15147,49,39,51,49,44,47
15148,51,38,45,46,39,36

In [25]:
df.loc[:,df.columns.str.contains('defending')]

,defending,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle
0,34.0,20,35,24
1,44.0,35,42,19
2,34.0,24,32,24
3,37.0,35,32,29
4,64.0,68,65,53
...,...,...,...,...
15144,NaN,6,12,12
15145,43.0,39,43,41
15146,26.0,28,21,26
15147,41.0,37,44,47
15148,41.0,38,44,48

In [26]:
df.loc[:,df.columns.str.contains('goalkeeping')].iloc[:,:-1]

,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,6,11,15,14,8
1,15,6,12,8,10
2,7,11,15,14,11
3,9,9,15,15,11
4,15,13,5,10,13
...,...,...,...,...,...
15144,48,45,45,46,47
15145,14,12,15,14,6
15146,14,7,8,14,11
15147,11,12,6,8,10
15148,8,6,7,10,6