In [1]:
import pandas as pd

In [5]:
import matplotlib.pyplot as plt

In [8]:
import numpy as np

In [9]:
# plt.plot(namhae_yeosu[namhae_yeosu.년월.str.contains('Jan')]['년월'],namhae_yeosu[namhae_yeosu.년월.str.contains('Jan')]['강수량(mm)'])
# plt.xticks(rotation = 45)
# plt.tight_layout()
# plt.show()

In [10]:
# fig, axes = plt.subplots(4,6,figsize = (12,12))
# for i in range(4):
#     for j in range(6):
#         axes[i,j].plot(namhae_yeosu[namhae_yeosu.년월.str.contains('Jan')]['년월'],namhae_yeosu[namhae_yeosu.년월.str.contains('Jan')]['강수량(mm)'])
        
# #        axes[i,j].set_xticklabels( namhae_yeosu['년월'],rotation=45)  # 눈금 레이블에 회전 설정

# plt.tight_layout()
# plt.show()

### 인천

In [11]:
import requests

In [39]:
def suon(url,year):
    df = pd.DataFrame([])
    for i in range(12):
        if i < 9:
            response = requests.get(f'{url}{year}-0{i+1}')
        else:
            response = requests.get(f'{url}{year}-{i+1}')
        html=response.text
        df = pd.concat([df, pd.read_html(html)[9]], axis=0)
    df.columns = df.iloc[0]
    df.drop(0,axis=0,inplace=True)

    df['year'] = year
    df['month'] = df[df.columns[0]].apply(lambda x: x.split('월')[0])
    df.drop(df.columns[0],axis=1,inplace=True)

    return df

In [40]:
incheon = pd.DataFrame([])
for i in range(2019,2024):
    incheon = pd.concat([incheon,suon('https://www.badatime.com/temp_past.jsp?idx=158&param=DT_0001&date1=',i)])

In [41]:
incheon['최저 온도']= incheon['최저 온도'].apply(lambda x: float(x.split()[0]))
incheon['최고 온도']= incheon['최고 온도'].apply(lambda x: float(x.split()[0]))

In [43]:
incheon['평균온도'] = (incheon['최저 온도'] + incheon['최고 온도'])/2
incheon

0   최저 시간  최저 온도  최고 시간  최고 온도  year month   평균온도
1   06:00    2.3  11:00    2.6  2019    01   2.45
2   07:00    2.1  12:00    2.3  2019    01   2.20
3   23:00    2.1  13:00    2.2  2019    01   2.15
4   07:00    1.9  12:00    2.1  2019    01   2.00
5   09:00    1.9  13:00    2.0  2019    01   1.95
..    ...    ...    ...    ...   ...   ...    ...
14  18:00   26.4  23:00   27.0  2023    08  26.70
15  10:00   26.6  13:00   27.2  2023    08  26.90
16  10:00   26.7  21:00   27.4  2023    08  27.05
17  11:00   27.0  22:00   27.6  2023    08  27.30
18  10:00   27.2  22:00   27.8  2023    08  27.50

[1686 rows x 7 columns]

In [44]:
incheonCSV = incheon.groupby(['year','month']).agg({'평균온도':[np.mean,np.min,np.max]})

In [45]:
incheonCSV=incheonCSV.stack(0).reset_index(0, drop=True).reset_index()

In [46]:
incheonCSV.to_csv('incheon.csv',index=False)

### 군산

In [47]:
kunsan = pd.DataFrame([])
for i in range(2019,2024):
    kunsan = pd.concat([kunsan,suon('https://www.badatime.com/temp_past.jsp?idx=120&param=DT_0018&date1=',i)])

In [48]:
kunsan['최저 온도']= kunsan['최저 온도'].apply(lambda x: float(x.split()[0]))
kunsan['최고 온도']= kunsan['최고 온도'].apply(lambda x: float(x.split()[0]))

In [49]:
kunsan['평균온도'] = (kunsan['최저 온도'] + kunsan['최고 온도'])/2
kunsan

0   최저 시간  최저 온도  최고 시간  최고 온도  year month   평균온도
1   06:00    4.6  16:00    4.9  2019    01   4.75
2   05:00    4.5  10:00    4.8  2019    01   4.65
3   04:00    4.5  18:00    4.7  2019    01   4.60
4   08:00    4.5  08:00    4.7  2019    01   4.60
5   02:00    4.2  13:00    4.5  2019    01   4.35
..    ...    ...    ...    ...   ...   ...    ...
14  13:00   23.5  22:00   24.9  2023    08  24.20
15  15:00   23.5  22:00   25.3  2023    08  24.40
16  13:00   23.6  23:00   25.5  2023    08  24.55
17  13:00   24.0  23:00   25.5  2023    08  24.75
18  14:00   24.3  22:00   25.7  2023    08  25.00

[1682 rows x 7 columns]

In [50]:
kunsanCSV = kunsan.groupby(['year','month']).agg({'평균온도':[np.mean,np.min,np.max]})
kunsanCSV=kunsanCSV.stack(0).reset_index(0, drop=True).reset_index()
kunsanCSV.to_csv('kunsan.csv',index=False)